
body,html{
    margin:0;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    height: 100%;
    background-color: DarkRed;
}


a{
    color:rgb(139,0, 0);
    font-size: x-large;
}
a:hover{
    color:lightseagreen;
}
.a2{
    position: relative;
    top:20px;
}
section{
    position:relative;
    top:4%;
}
p{
 color: rgb(151, 13, 13);
 font-size: large;
 position: relative;
}
P:first-letter {
    font-family: "Times New Roman", Times, serif; /* Гарнитура шрифта первой буквы */
    font-size: 200%; /* Размер шрифта первого символа */
    color: salmon; /* Красный цвет текста */
   }
p.logo::after{

content: "";
position: relative;
display: block;
width: 20px;
height: 30px;
background: url(logo.png);
background-size: 20px 30px;


}
.text{
color: rgb(151, 13, 13);
text-indent: 1.5em; /* Отступ первой строки */
text-align: left;
}

table{
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
color: rgb(139,0, 0);
border-radius: 10px;
border-spacing: 0;
text-align: center; 
margin-top:1%;
}


.table2 th:first-child, .table2 td:first-child {
    text-align: left;
    background: aquamarine;
    }
    .table2 td:nth-child(even){
        background: salmon;
    }
    .table2 td:last-child{
        background: LightSeaGreen;
    }
    .table2 td {
    padding: 10px 20px;
    }
    .table2 td,th{
        border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    .table2 td:hover { 
            background: white; /* Цвет фона */
            color:#7D9F00;
    }

 
    .table1 td {
    padding: 10px 20px;
    }
    .table1 td,th{
        border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
 .table1 tr{
    background: aquamarine;
 }
    .table1 tr:hover { 
        background: white; /* Цвет фона */
        color:#7D9F00;
    }
header{
    float: right;
    width: 64.8%;
    height: 5.7%;
    position:relative;
border: 2px solid white;
border-radius: 15px;
}
img{
    width: 100%;
    height: 100%;
   float:right;
    alt:"Picture 1";
   
}

img.hed{
    border-radius: 15px;

}
img.foot{

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


svg.rect1{
    width:300px ;
    height:140px;
    transform: translate(120%,100%) ;
    fill: salmon;
    stroke:white;
}

svg.rect2{
    float:center;
    width:300px ;
    height:140px;
    transform: translate(92%,100%) ;
    fill:salmon;
    stroke:white;
}
svg.rect3{
    float:center;
    width:300px ;
    height:140px;
    transform: translate(64%,100%) ;
    fill:  salmon;
    stroke:white;
}

footer{
    margin-bottom:1%;
    height: 30%;
background-color: bisque;
box-shadow:   0px 0px 2px 2px rgba(0,0,0,.5);
-webkit-border-bottom-right-radius: 15px;
-moz-border-top-bottom-radius: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;

}

.strname{
    color:rgb(139,0, 0);
    position:relative;
    top:4%;
    left:10%;
}
.subname{
    color:salmon;
}
.strname1{
    color:white;
}
h1{
    position:relative;
      top: 4%;
      left:25%;
    letter-spacing: 20px;
    font-size: xx-large;
    -webkit-animation: blink1 3s linear infinite;
    animation: blink1 3s linear infinite;
}

  @-webkit-keyframes blink1 {
    0% { color: rgba(255,255, 255,1); }
    50% { color: rgba(255, 251, 251, 0); }
    100% { color:  rgba(255,255, 255,1); }
  }
  @keyframes blink1 {
    0% { color: rgba(255,255, 255,1); }
    50% { color: rgba(255, 251, 251, 0); }
    100% { color:  rgba(255,255, 255,1); }
  }

.block1{
    width: 85%;
    height: 10%;
    float:right;
    background-color: white;
    position:relative;
    margin-top:-40px;
    margin-bottom: -5px;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);   
    display:block;
    border:  2px solid white;  
}
.block1 .def{
    top: -1px;
    left: 0px;
    position:absolute;
    display:block;
      width: 99.7%;
      height: 100%;
      float:right;
      background: lightyellow;
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);  
      background: radial-gradient(circle at 10% 10%, moccasin,lightyellow); 
    border: 3px solid white;
}

.block2{
    width: 100%;
    height: 90%;
    background-color:lightyellow;
    position: relative; 
    float: right;
    background: radial-gradient(ellipse at 10% 10%, moccasin,lightyellow);
   border-right: 3px solid white; 
   border-left: 3px solid white; 
   border-bottom: 3px solid white; 
   
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.block2::before {
    content: '';
    position: absolute;
    left: -3px;
    top: 0px;
    width: 16.5%;     
    height: 3px;
    background: white;
}

.block3{
   margin-top:0;
    width: 35%;
    height: 10%;
   background:radial-gradient(at right, LemonChiffon 1%,lightyellow 100%);
   position: relative; 
   box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   z-index: 2;
}
.block3::after {
    content: ''; /* Добавляем пустое содержание для тени */
    display: block; /* Блочный элемент */
    position: absolute; /* Абсолютное позиционирование */
    top: -1px; bottom: 0;
    left: -1px; right: -1px; /* Тень чуть больше ширины и высоты заголовка */
    z-index: 2; /* Тень под блоком текста */ 
    
   }
.block4{
    margin-top:-3%;
    width: 100%;    
    height: 90%;
    background:radial-gradient(at bottom, moccasin,lightyellow );
    position: relative; 
    border-top: none; /* Убираем внизу линию */
    box-shadow:   0px 0px 2px 2px rgba(0,0,0,.5);
    -webkit-border-top-right-radius: 15px;
    -moz-border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 3;
}

.block4::after{
    position: absolute;
    background: linear-gradient(to right, lightyellow 0%, LemonChiffon 35%,rgba(0,0,0,0.0) 35%, rgba(0,0,0,0.0) 100%);

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 5%;
    content: '';
    bottom: 0;
    right: 0;
    left: -0.01%;
    top:-0.9%;
z-index: 1;
}